.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.ttf)format("truetype");}.ff1{font-family:ff1;line-height:0.926000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.ttf)format("truetype");}.ff2{font-family:ff2;line-height:0.940000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.ttf)format("truetype");}.ff3{font-family:ff3;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.960965,0.000000,0.000000,1.000000,0,0);-ms-transform:matrix(0.960965,0.000000,0.000000,1.000000,0,0);-moz-transform:matrix(0.960965,0.000000,0.000000,1.000000,0,0);-webkit-transform:matrix(0.960965,0.000000,0.000000,1.000000,0,0);-o-transform:matrix(0.960965,0.000000,0.000000,1.000000,0,0);}
.m2{transform:matrix(0.991203,0.000000,0.000000,1.000000,0,0);-ms-transform:matrix(0.991203,0.000000,0.000000,1.000000,0,0);-moz-transform:matrix(0.991203,0.000000,0.000000,1.000000,0,0);-webkit-transform:matrix(0.991203,0.000000,0.000000,1.000000,0,0);-o-transform:matrix(0.991203,0.000000,0.000000,1.000000,0,0);}
.m0{transform:none;-ms-transform:none;-moz-transform:none;-webkit-transform:none;-o-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:5.600000px;}
.ls1{letter-spacing:11.160000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{display:inline-block;width:311.828000px;}
._4{display:inline-block;width:391.644000px;}
._3{display:inline-block;width:421.740000px;}
._7{display:inline-block;width:426.336000px;}
._2{display:inline-block;width:438.900000px;}
._0{display:inline-block;width:461.736000px;}
._5{display:inline-block;width:532.796000px;}
._6{display:inline-block;width:1017.107600px;}
.fc4{color:rgb(255,255,255);}
.fc2{color:rgb(123,121,121);}
.fc1{color:rgb(17,15,13);}
.fc3{color:rgb(211,210,210);}
.fc0{color:rgb(35,31,32);}
.fs1{font-size:32.000000px;}
.fs8{font-size:32.284000px;}
.fs4{font-size:37.800000px;}
.fs6{font-size:42.000000px;}
.fs0{font-size:44.000000px;}
.fs7{font-size:48.000000px;}
.fs3{font-size:55.800000px;}
.fs5{font-size:56.000000px;}
.fs2{font-size:134.864400px;}
.y15{bottom:187.665124px;}
.y14{bottom:226.050800px;}
.y13{bottom:319.136800px;}
.yb{bottom:542.986000px;}
.ya{bottom:595.786000px;}
.y9{bottom:648.586000px;}
.y3{bottom:818.382800px;}
.y2{bottom:1010.095600px;}
.yf{bottom:1138.174000px;}
.ye{bottom:1190.974000px;}
.yd{bottom:1243.774000px;}
.yc{bottom:1296.574000px;}
.y1{bottom:1642.727600px;}
.y12{bottom:1770.982000px;}
.y11{bottom:1823.782000px;}
.y10{bottom:1876.582000px;}
.y0{bottom:2237.607600px;}
.y8{bottom:2412.269600px;}
.y7{bottom:2666.520200px;}
.y6{bottom:2722.502000px;}
.y4{bottom:2757.099600px;}
.y5{bottom:2786.353600px;}
.h2{height:23.392000px;}
.h8{height:23.599604px;}
.h5{height:27.631800px;}
.h1{height:32.164000px;}
.h7{height:35.088000px;}
.h4{height:40.789800px;}
.h6{height:40.936000px;}
.h3{height:98.585876px;}
.h0{height:3168.000000px;}
.w0{width:2448.000000px;}
.x0{left:226.232400px;}
.x9{left:230.240400px;}
.x8{left:290.958800px;}
.x1{left:465.138800px;}
.x2{left:480.025200px;}
.x6{left:766.158400px;}
.x7{left:1076.842400px;}
.x5{left:1307.754400px;}
.x3{left:1429.814400px;}
.x4{left:1848.470400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:1.866667pt;}
.ls1{letter-spacing:3.720000pt;}
.ws0{word-spacing:0.000000pt;}
._1{display:inline-block;width:103.942667pt;}
._4{display:inline-block;width:130.548000pt;}
._3{display:inline-block;width:140.580000pt;}
._7{display:inline-block;width:142.112000pt;}
._2{display:inline-block;width:146.300000pt;}
._0{display:inline-block;width:153.912000pt;}
._5{display:inline-block;width:177.598667pt;}
._6{display:inline-block;width:339.035867pt;}
.fs1{font-size:10.666667pt;}
.fs8{font-size:10.761333pt;}
.fs4{font-size:12.600000pt;}
.fs6{font-size:14.000000pt;}
.fs0{font-size:14.666667pt;}
.fs7{font-size:16.000000pt;}
.fs3{font-size:18.600000pt;}
.fs5{font-size:18.666667pt;}
.fs2{font-size:44.954800pt;}
.y15{bottom:62.555041pt;}
.y14{bottom:75.350267pt;}
.y13{bottom:106.378933pt;}
.yb{bottom:180.995333pt;}
.ya{bottom:198.595333pt;}
.y9{bottom:216.195333pt;}
.y3{bottom:272.794267pt;}
.y2{bottom:336.698533pt;}
.yf{bottom:379.391333pt;}
.ye{bottom:396.991333pt;}
.yd{bottom:414.591333pt;}
.yc{bottom:432.191333pt;}
.y1{bottom:547.575867pt;}
.y12{bottom:590.327333pt;}
.y11{bottom:607.927333pt;}
.y10{bottom:625.527333pt;}
.y0{bottom:745.869200pt;}
.y8{bottom:804.089867pt;}
.y7{bottom:888.840067pt;}
.y6{bottom:907.500667pt;}
.y4{bottom:919.033200pt;}
.y5{bottom:928.784533pt;}
.h2{height:7.797333pt;}
.h8{height:7.866535pt;}
.h5{height:9.210600pt;}
.h1{height:10.721333pt;}
.h7{height:11.696000pt;}
.h4{height:13.596600pt;}
.h6{height:13.645333pt;}
.h3{height:32.861959pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:75.410800pt;}
.x9{left:76.746800pt;}
.x8{left:96.986267pt;}
.x1{left:155.046267pt;}
.x2{left:160.008400pt;}
.x6{left:255.386133pt;}
.x7{left:358.947467pt;}
.x5{left:435.918133pt;}
.x3{left:476.604800pt;}
.x4{left:616.156800pt;}
}
