.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.ttf)format("truetype");}.ff1{font-family:ff1;line-height:0.926000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.ttf)format("truetype");}.ff2{font-family:ff2;line-height:0.940000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.ttf)format("truetype");}.ff3{font-family:ff3;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.240241,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.240241,0.000000,0.000000,0.250000,0,0);-moz-transform:matrix(0.240241,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.240241,0.000000,0.000000,0.250000,0,0);-o-transform:matrix(0.240241,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.247801,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.247801,0.000000,0.000000,0.250000,0,0);-moz-transform:matrix(0.247801,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.247801,0.000000,0.000000,0.250000,0,0);-o-transform:matrix(0.247801,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-moz-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-o-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:5.600000px;}
.ls1{letter-spacing:11.160000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{display:inline-block;width:311.828000px;}
._4{display:inline-block;width:391.644000px;}
._3{display:inline-block;width:421.740000px;}
._7{display:inline-block;width:426.336000px;}
._2{display:inline-block;width:438.900000px;}
._0{display:inline-block;width:461.736000px;}
._5{display:inline-block;width:532.796000px;}
._6{display:inline-block;width:1017.107600px;}
.fc4{color:rgb(255,255,255);}
.fc2{color:rgb(123,121,121);}
.fc1{color:rgb(17,15,13);}
.fc3{color:rgb(211,210,210);}
.fc0{color:rgb(35,31,32);}
.fs1{font-size:32.000000px;}
.fs8{font-size:32.284000px;}
.fs4{font-size:37.800000px;}
.fs6{font-size:42.000000px;}
.fs0{font-size:44.000000px;}
.fs7{font-size:48.000000px;}
.fs3{font-size:55.800000px;}
.fs5{font-size:56.000000px;}
.fs2{font-size:134.864400px;}
.y15{bottom:46.916281px;}
.y14{bottom:56.512700px;}
.y13{bottom:79.784200px;}
.yb{bottom:135.746500px;}
.ya{bottom:148.946500px;}
.y9{bottom:162.146500px;}
.y3{bottom:204.595700px;}
.y2{bottom:252.523900px;}
.yf{bottom:284.543500px;}
.ye{bottom:297.743500px;}
.yd{bottom:310.943500px;}
.yc{bottom:324.143500px;}
.y1{bottom:410.681900px;}
.y12{bottom:442.745500px;}
.y11{bottom:455.945500px;}
.y10{bottom:469.145500px;}
.y0{bottom:559.401900px;}
.y8{bottom:603.067400px;}
.y7{bottom:666.630050px;}
.y6{bottom:680.625500px;}
.y4{bottom:689.274900px;}
.y5{bottom:696.588400px;}
.h2{height:23.392000px;}
.h8{height:23.599604px;}
.h5{height:27.631800px;}
.h1{height:32.164000px;}
.h7{height:35.088000px;}
.h4{height:40.789800px;}
.h6{height:40.936000px;}
.h3{height:98.585876px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:56.558100px;}
.x9{left:57.560100px;}
.x8{left:72.739700px;}
.x1{left:116.284700px;}
.x2{left:120.006300px;}
.x6{left:191.539600px;}
.x7{left:269.210600px;}
.x5{left:326.938600px;}
.x3{left:357.453600px;}
.x4{left:462.117600px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:7.466667pt;}
.ls1{letter-spacing:14.880000pt;}
.ws0{word-spacing:0.000000pt;}
._1{display:inline-block;width:415.770667pt;}
._4{display:inline-block;width:522.192000pt;}
._3{display:inline-block;width:562.320000pt;}
._7{display:inline-block;width:568.448000pt;}
._2{display:inline-block;width:585.200000pt;}
._0{display:inline-block;width:615.648000pt;}
._5{display:inline-block;width:710.394667pt;}
._6{display:inline-block;width:1356.143467pt;}
.fs1{font-size:42.666667pt;}
.fs8{font-size:43.045333pt;}
.fs4{font-size:50.400000pt;}
.fs6{font-size:56.000000pt;}
.fs0{font-size:58.666667pt;}
.fs7{font-size:64.000000pt;}
.fs3{font-size:74.400000pt;}
.fs5{font-size:74.666667pt;}
.fs2{font-size:179.819200pt;}
.y15{bottom:62.555041pt;}
.y14{bottom:75.350267pt;}
.y13{bottom:106.378933pt;}
.yb{bottom:180.995333pt;}
.ya{bottom:198.595333pt;}
.y9{bottom:216.195333pt;}
.y3{bottom:272.794267pt;}
.y2{bottom:336.698533pt;}
.yf{bottom:379.391333pt;}
.ye{bottom:396.991333pt;}
.yd{bottom:414.591333pt;}
.yc{bottom:432.191333pt;}
.y1{bottom:547.575867pt;}
.y12{bottom:590.327333pt;}
.y11{bottom:607.927333pt;}
.y10{bottom:625.527333pt;}
.y0{bottom:745.869200pt;}
.y8{bottom:804.089867pt;}
.y7{bottom:888.840067pt;}
.y6{bottom:907.500667pt;}
.y4{bottom:919.033200pt;}
.y5{bottom:928.784533pt;}
.h2{height:31.189333pt;}
.h8{height:31.466139pt;}
.h5{height:36.842400pt;}
.h1{height:42.885333pt;}
.h7{height:46.784000pt;}
.h4{height:54.386400pt;}
.h6{height:54.581333pt;}
.h3{height:131.447835pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:75.410800pt;}
.x9{left:76.746800pt;}
.x8{left:96.986267pt;}
.x1{left:155.046267pt;}
.x2{left:160.008400pt;}
.x6{left:255.386133pt;}
.x7{left:358.947467pt;}
.x5{left:435.918133pt;}
.x3{left:476.604800pt;}
.x4{left:616.156800pt;}
}
